<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-link  text-white" href="/"><img style="margin-right: .5em;"  class="rounded-circle " height="65px" width="65px" src="{% static 'img/techworldLogo.jpg' %}" alt=""> TechWorld</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto ">
          <li class="nav-item ">
            <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
          </li


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Categorey
            </a>
          </li>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="category/business">Business</a></li>
              <li><a class="dropdown-item" href="category/sports">Sports</a></li>
              <li><a class="dropdown-item" href="category/politics">Politics</a></li>
              <li><a class="dropdown-item" href="category/tech">Tech</a></li>
            </ul>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white" href="contact">Contact-us</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item ">
            <a class="nav-link text-white " href="logout">Logout</a>
          </li>
          {%else%}
          <li class="nav-item ">
            <a class="nav-link text-white " href="login">Login</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-white " href="signup">Singup</a>
          </li>
          {%endif%}

        </ul>
        <form action="search" method="GET" class="d-flex">
          <input required name="search" class="form-control me-2" type="search" placeholder="Search"
            aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>



      </div>
    </div>
  </nav>